<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>TestJsp </display-name>
	<welcome-file-list >
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list >

<servlet>
	<servlet-name>UserManager</servlet-name>
	<servlet-class>td2.UserManager</servlet-class>
</servlet>
<servlet-mapping> 
	<servlet-name>UserManager</servlet-name>
	<url-pattern>/UserManager</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>UserVerification</servlet-name>
	<servlet-class>td2.UserVerification</servlet-class>
</servlet>
<servlet-mapping> 
	<servlet-name>UserVerification</servlet-name>
	<url-pattern>/UserVerification</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Connexion</servlet-name>
	<servlet-class>td2.Connexion</servlet-class>
</servlet>
<servlet-mapping> 
	<servlet-name>Connexion</servlet-name>
	<url-pattern>/Connexion</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Connexion</servlet-name>
    <jsp-file>/connexion.html</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion.html</url-pattern>
</servlet-mapping>
</web-app>